<div class="credit-card">
  <div class="card-front">
    <div class="card-chip"></div>
    <div class="card-number">{{ formattedCardNumber }}</div>
    <div class="card-holder-info">
      <div class="card-holder-label">CARD HOLDER</div>
      <div class="card-holder-name">{{ formattedCardHolder }}</div>
    </div>
    <div class="card-expiry-info">
      <div class="card-expiry-label">VALID THRU</div>
      <div class="card-expiry-date">{{ formattedExpiry }}</div>
    </div>
    <div class="card-type">VISA</div>
  </div>
</div>
