.credit-card {
  width: 300px;
  height: 180px;
  background: linear-gradient(45deg, #a7a7a7, #5e5e5e);
  border-radius: 15px;
  color: #fff;
  font-family: 'Consolas', monospace;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 20px auto;

  .card-front {
    .card-chip {
      width: 40px;
      height: 30px;
      background-color: gold;
      border-radius: 5px;
      margin-bottom: 15px;
    }

    .card-number {
      font-size: 1.5rem;
      letter-spacing: 2px;
      margin-bottom: 15px;
    }

    .card-holder-info, .card-expiry-info {
      display: flex;
      flex-direction: column;
      font-size: 0.7rem;
      line-height: 1;
    }

    .card-holder-name, .card-expiry-date {
      font-size: 1rem;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .card-holder-info {
        float: left;
    }

    .card-expiry-info {
        float: right;
        text-align: right;
    }

    .card-type {
      position: absolute;
      bottom: 15px;
      right: 20px;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
