.carrinho-badge-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.bi-cart {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.carrinho-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 0.75rem;
  padding: 2px 6px;
  min-width: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
